* {
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto;
}

.container {
  max-width: 1214px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.header__logo {
  margin-right: 76px;
}

.auth {
  margin-left: auto;
  margin-right: 31px;
}

.auth__login {
  color: inherit;
  text-decoration: none;
  padding: 17px 30px;
  display: block;
  background: #ebebeb;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
}

.search-form {
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}

.search-input {
  background-color: transparent;
  outline: none;
  padding: 13px 20px;
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 23px;
}

.search-input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.search-input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  display: none;
}

.search-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 18px;
  cursor: pointer;
}

.shopping-cart {
  text-decoration: none;
  border-radius: 50%;
  background: #f66a15;
  width: 49px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shopping-cart__notify {
  display: block;
  padding: 5px;
  background: #ffaf19;
  border-radius: 50%;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  position: absolute;
  right: 0;
  bottom: 0;
}

.slider {
  margin-top: 5px;
}

.slide {
  border-radius: 20px;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  position: relative;
}

.slide-text-light {
  color: #fff;
  background-color: grey;
}

.slide__content {
  max-width: 400px;
}

.slide__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 51px;
  font-weight: 700;
}

.slide__text {
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  margin-bottom: 32px;
}

.slide__btn {
  background: #f47322;
  color: #fff;
  font-size: 14px;
  line-height: 23px;
}

.btn {
  border-radius: 25px;
  padding: 13px 52px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
}

.btn__default {
  background-color: #fff;
  max-width: 232px;
  color: #5f5f61;
}

.btn-border {
  padding: 15px 25px;
  border: 2px solid #f37321;
  border-radius: 33px;
  display: inline-block;
  color: #f37321;
  text-decoration: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.slide-summer {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.43) 40.45%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../img/summer.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  margin: -20px;
}

.card {
  flex: 50%;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  max-width: 570px;
  min-height: 380px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text-ligth {
  color: #fff;
}

.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 21px;
  margin-top: 4px;
}

.card__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}

.card__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
  display: block;
}

.card__delivery {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
  display: block;
}

.card__sweet-basket {
  background-image: url("../img/sweet-basket.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__mimimum {
  background-image: url("../img/minimum.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.delivery-week {
  padding: 100px 0;
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 50px;
  margin-top: 0;
}

.delivery-week__cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: space-between;
}

.delivery-week__card {
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  margin: 15px;
}

.delivery-week__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery-week__tag {
  position: absolute;
  top: 16px;
  left: 10px;
  border-radius: 30px;
  padding: 5px 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.health {
  background: #d0fd89;
  color: #49494f;
}

.veg {
  background: #aebc41;
  color: #fff;
}

.meat {
  background: #b86b78;
  color: #fff;
}

.bird {
  background: #d68334;
  color: #fff;
}

.fish {
  background: #cd6255;
  color: #fff;
}

.child {
  background: #fffdbf;
  color: #49494f;
}

.parents {
  background: #f6fdc8;
  color: #49494f;
}

.prazdnik {
  background: #fef7fe;
  color: #49494f;
}

.section-grey {
  background: #f6f6f6;
}

.category {
  padding: 40px 0 60px;
}

.tabs-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -15px;
}

.tabs-content__card {
  max-width: 270px;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  margin: 15px;
}

.tabs-content__image {
  max-width: 100%;
}

.tabs-content__wrapper {
  padding: 21px 25px;
}

.tabs-content__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 13px;
  margin-top: 0;
}

.tabs-content__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
  margin-bottom: 36px;
}

.tabs-content__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs-content__price {
  display: block;
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
  margin-bottom: 5px;
}

.tabs-content__weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}

.tabs {
  display: flex;
  padding: 0;
  margin-bottom: 60px;
}

.tabs__item {
  list-style: none;
}

.tabs__link {
  text-decoration: none;
  color: #49494f;
  font-size: 20px;
  line-height: 23px;
  margin-right: 58px;
}

.tabs__link.active {
  color: #f37321;
}

.btn-center {
  display: block;
  margin: 62px auto 0;
  width: 315px;
  text-align: center;
}

.advantage {
  padding: 100px 0 200px;
}

.advantage__cards {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.advantage__card {
  max-width: 270px;
  margin: 0 15px;
}

.advantage-card {
  padding: 25px;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.advantage-card__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 36px;
}

.advantage-card__title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.advantage-card__text {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494f;
  margin-bottom: 0;
}

.footer {
  background: #f6f6f6;
  padding: 40px 0;
}

.footer__wrapper {
  display: flex;
  align-items: center;
}

.footer__logo {
  width: 205px;
  height: 101px;
}

.footer__socials {
  display: flex;
  margin-left: auto;
}

.footer__social {
  width: 28px;
  height: 28px;
  background: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
}

.footer__social:last-child {
  margin-right: 0;
}

.footer__nav {
  margin-left: 50px;
}

.nav-footer {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-footer__item {
  margin-right: 50px;
}

.nav-footer__item:last-child {
  margin-right: 0;
}

.nav-footer__link {
  color: #000000;
  font-size: 16px;
  line-height: 23px;
}
